.video_sidebar {
  position: absolute;
  right: 15px;
  top: 67%;
  z-index: 100;
  color: white;
  padding: 5px;
}
.video_sidebar_button {
  padding-bottom: 10px;
  text-align: center;
}
.video_sidebar_button > p {
  font-size: x-small;
}

.share {
  rotate: -30deg;
  padding-bottom: 0;
  padding-left: 5px;
}
